@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth !important;
}

@layer base {
  html {
    font-family: PT Mono, system-ui, sans-serif;
    color: #31312b;
  }
}
